<% include ./partials/header.ejs %>
    
    <div class="profile bg-zinc-700  text-white min-h-screen w-full pt-1">
     <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">

     </form>
        <div class=" profdets flex flex-col items-center mt-20">
            <div class="relative">
                <span id="uploadicon" class="w-8 h-8 absolute bottom-0 right-0 rounded-full flex items-center justify-center bg-zinc-200" >
                    <i class=" text-zinc-800 ri-pencil-line"></i>
                </span>
                <div class="w-28 h-28 bg-zinc-200 rounded-full overflow-hidden">
                    <img class="h-full w-full object-cover object-center"
                    src="/images/uploads/<%= user.profileImage %>"alt="" srcset="">
                </div>
            </div>

            <h1 class="text-3xl font-semibold mt-5"><%= user.name%></h1>
            <h3 class="text-md">@<%= user.username%></h3>
            <a href="/edit" class="px-7 mt-5 py-2 bg-zinc-700 rounded-full text-xs font-semibold">Edit</a>
            <a href="/add" class=" mt-5 text-xs bg-red-700 px-8 py-2 font-semibold rounded-lg">Add New Post</a>
        </div>

        <div class="cards flex flex-wrap gap-8  mt-12 px-10 ">
            <div class="card">
                <div class="w-52 h-40 bg-zinc-200 rounded-lg overflow-hidden">
                    <img class="h-full w-full object-cover object-top "
                        src="/images/uploads/<%=user?.posts[0]?.image %>"
                        alt="" srcset="">
                </div>
                <a href="/show/posts" class=" inline-block text-xl  font-semibold mt-3">Your uploaded pins</a>
                <h5 class="text-sm font-medium opacity-60"><%= user.posts.length %></h5>
            </div>

        </div>



    </div>


    <script>
        document.querySelector("#uploadicon").addEventListener("click", function(){
          document.querySelector("#uploadform input").click();
        })

        document.querySelector("#uploadform input").addEventListener("change", function(){
            document.querySelector("#uploadform").submit()
        })
    </script>


    <% include ./partials/footer.ejs %>